<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated shop -->
      <package
            uri="http://www.logiprolls.fr/shop"
            class="shop.ShopPackage"
            genModel="model/shop.genmodel"/>
   </extension>

</plugin>
