<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="fr.logiprolls.ptcompta.shop.Sale"
            class="fr.logiprolls.ptcompta.ui.SaleAdapterFactory">
         <adapter
               type="fr.logiprolls.ptcompta.shop.Customer">
         </adapter>
      </factory>
   </extension>


</plugin>
