<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated shop -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.logiprolls.ptcompta.model.shop.presentation.ShopModelWizardID"
            name="%_UI_ShopModelWizard_label"
            class="fr.logiprolls.ptcompta.model.shop.presentation.ShopModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ShopModelFile.gif">
         <description>%_UI_ShopModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated shop -->
      <editor
            id="fr.logiprolls.ptcompta.model.shop.presentation.ShopEditorID"
            name="%_UI_ShopEditor_label"
            icon="icons/full/obj16/ShopModelFile.gif"
            extensions="shop"
            class="fr.logiprolls.ptcompta.model.shop.presentation.ShopEditor"
            contributorClass="fr.logiprolls.ptcompta.model.shop.presentation.ShopActionBarContributor">
      </editor>
   </extension>
</plugin>
